<h1>Listings#index</h1>
<% @listings.each do |listing| %>
<div class="container" >
 <ul>
  <div class="card">
    <%=listing.ticket_category.name%> (<%= listing.quantity %>)
    <p><%=listing.description %></p>
  </div>
 </ul>
</div>

<% end %>
<p>Find me in app/views/listings/index.html.erb</p>
